body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Nastavenie výšky na 100% výšky viewportu */
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: bold;
    margin: 0 auto; /* Umiestni text do stredu lišty */
    cursor: none;
}

.UG {
    color: orange;
}